/* =================== */
/*    GLOBAL STYLE     */
/* =================== */

body {
	font-weight: lighter;
	font-family: "Verdana", sans-serif;
}

/* =================== */
/*    CUSTOM FONTS     */
/* =================== */

@font-face { font-family: h1; src: url('../res/fonts/h1.otf'); }
@font-face { font-family: h2-h6; src: url('../res/fonts/h2-h6.otf'); }

/* =================== */
/*   BLOG LIST GRID    */
/* =================== */


/* =================== */
/*     NAVBAR CSS      */
/* =================== */

#navbar {
	overflow: hidden;
	background-image: linear-gradient(#000000, #1f1f1f);
	border-radius: 8px;
	width: calc(80%);
	margin: auto auto 8px auto;
}

#navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 28px 14px 14px;
	text-decoration: none;
}

#navbar a.home{
	float: left;
	padding: 6px 0px 6px 28px;
}

#navbar img {
	width: 40px;
	height: 40px;
}

.sticky {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}